/CLIENTES/ESCRITORIO/proyectoNetBeans/build/
/CLIENTES/ESCRITORIO/proyectoNetBeans/nbproject/private/
/SERVIDOR/PHP/nbproject/private/
/CLIENTES/ESCRITORIO/proyectoPrueba/target/
/CLIENTES/ESCRITORIO/proyectoPrueba/nbproject/
/Herramientas/Starconex/nbproject/private/
/Herramientas/Starconex/build/
/CLIENTES/ESCRITORIO/FastToHome/nbproject/private/
/CLIENTES/ESCRITORIO/FastToHome/build/
/CLIENTES/ESCRITORIO/FastToHome/dist/
/Herramientas/Starconex/dist/
