/CLIENTES/ESCRITORIO/proyectoNetBeans/build/
/CLIENTES/ESCRITORIO/proyectoNetBeans/nbproject/private/
/SERVIDOR/PHP/nbproject/private/
/CLIENTES/ESCRITORIO/proyectoPrueba/target/
/CLIENTES/ESCRITORIO/proyectoPrueba/nbproject/
